.header_arend {
}

.header__arend-inner {
}
.header__arend-content {
    margin-top: -135px;
    padding: 65px 70px;
    background-color: #fff;
    border-radius: 20px;
}
.arend__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    color: #1F1F1F;
    margin-bottom: 36px;
}
.arend__search {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.arend_input-item {
    align-items: center;
    display: flex;
}
.arend_input {
    margin-right: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 28px 15px;
    text-align: start;

}
.arend__checkbox-list {
    display: grid;
    grid-template: repeat(2, auto) / repeat( 3, 1fr) ;
    gap: 14px 26px;
}
.arend__checkbox-item {
    align-items: center;
    display: flex;
}
.arend__checkbox {
    border-radius: 4px;
    margin-right: 14px;
    align-items: start;
    padding: 0 6px;
    display: flex;
    width: 20px;
    height: 20px; 
    background-color: rgb(238, 238, 238);

    svg{
        align-self: center;
    }
}

.arend__checkbox--agree{
    background-color: #1F1F1F;
}
.arend__checkbox-text {
    color: #1F1F1F;
}
.arend__button {
    white-space: nowrap;
    button{
        color: #fff;
        background-color: rgb(159, 116, 55);
        padding: 28px 34px;
        border-radius: 10px;
    }
}

@media (max-width: 500px) {
    .header__arend-content {

        margin-top: 0px;
        padding: 40px 25px;
        background-color: #fff;
        border-radius: 0px;
    } 

    .header_arend .container{
        padding: 0;
    }

    .arend__search{
        display: flex;
        flex-direction: column;

    }

    .arend_input-item {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .arend_input {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 12px;
        background-color: rgb(245, 245, 245);
        border-radius: 10px;
        padding: 28px 180px 28px 70px;
        text-align: start;
    
    }
    
    .arend__checkbox-list {
        margin-top: 30px;
        margin-bottom: 40px;
        display: grid;
        grid-template: repeat(3, auto) / repeat( 2, 1fr) ;
        gap: 25px 100px;
    }

    .arend__button {
        white-space: nowrap;
        button{
            font-size: 18px;
            color: #fff;
            background-color: rgb(159, 116, 55);
            padding: 28px 150px;
            border-radius: 10px;
        }
    }
}