.image__content{
    max-width: 536px;
}

.card__image{
    position: relative;
    max-height: 274px;
    max-width: 536px;
    border-radius: 20px 20px 0 0;
}

.card__image .card__img{
    border-radius: 20px 20px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main__discount .container{

}
.main__discount{
   margin-bottom: 120px;
}

.main__discount .container__main {
    padding: 150px 270px;
    background: url("/img/bg/бг-camaro.jpeg") 100% 100% no-repeat;
    background-size: cover;
    border-radius: 36px;
}
.container__main {
}
.container {
}
.main__discount-inner {
}
.main__discount-content {
    justify-content: space-between;
    display: flex;
}
.main__discount-text {
    margin-right: 30px;
    max-width: 648px;
}
.main__text-title {
    font-size: 48px;
    line-height: 62px;
}
.main__text-subtitle {
    font-size: 24px;
    line-height: 34px;
    margin-top: 50px;
}
.main__text-textsub {
    line-height: 26px;
    margin-top: 36px;
    color: rgba(255, 255, 255, 0.5);
}
.discount__slider-container {
    padding: 15px;
    width: 100%;
    background-color: red;
   
}
.discount__slide-content {
}
.card__wrapper {
}
.card {
    margin-right: 30px;
    margin: 0 auto;
    max-width: 536px;
}
.overlay {
}
.card__content {
    position: relative;
    border-radius: 0 0 20px 20px;
    padding: 40px;
    background-color: #fff;

}
.card__content-title {
    font-size: 18px;
    color: black;
}

.qeen-slide {

    top: -25px;
    right: 25px;
    position: absolute;
    border-radius: 50%;
    padding: 14px 15px;
    height: 50px;
    width: 50px;
    background-color: rgb(212, 184, 79);
}

.qeen{
    
}
.card__content-subtitle {
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 22px;
}

.swiper {
    width: 536px;
    height: 448px;
  }




  .swiper {
    width: 536px;
    height: 448px;
  }

  .swiper-slide {
    border-radius: 20px;
    background: #fff;
    display: flex;
  }



  .swiper {
    margin-left: auto;
    margin-right: auto;
  }




.swiper__img-box {
    border-radius: 20px 20px 0 0;    
}
.swiper__img {
    border-radius: 20px 20px 0 0;
}
.swiper__content {
    position: relative;
    padding: 40px;
}
.swiper__qeen {
    right: 25px;
    top: -25px;
    padding: 12px 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(214, 188, 94);
    position: absolute;
}
.qeen {

}
.swiper__content-title {
    font-size: 18px;
    color: rgb(31, 31, 31);
}
.swiper__content-subtitle {
    margin-top: 22px;
    line-height: 26px;
    font-size: 14px;
    color: rgba(31, 31, 31, 0.5);
}

.slider__arrows {
    display: flex;
    align-items: center;
    max-width: 122px;
    justify-content: space-between;
    margin-top: 70px;
}
.next {
    transform: rotate(180deg);
    padding: 18px 17px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3) ;
    background-color: rgba(255, 255, 255, 0);
    &:hover{
        background-color:  rgba(255, 255, 255, 0.3);
    }
}
.prev {
    margin-right: 20px;
    padding: 18px 17px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3) ;
    background-color: rgba(255, 255, 255, 0);
    &:hover{
        background-color:  rgba(255, 255, 255, 0.3);
    }
    
}

.slider__arrows-box{
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active{
    background: none;
    span{
        background: none;
    }
}

@media (max-width: 500px) {
    .main__discount-content {
        flex-direction: column-reverse;
        display: flex;
    }

    .main__discount .container__main {
        padding: 40px 20px;
        background: url("/img/bg/бг-camaro.jpeg") 50% 100% no-repeat;
        background-size: cover;
        border-radius: 0px;
    }

    .swiper-slide{
        max-width: 430px;
    }

    .swiper__img{
        width: 100%;
    }

    .swiper {
        width: 430px;
        height: 448px;
      }

      .slider__arrows-box{
        margin-bottom: 50px;
      }

      .main__text-title{
        display: none;
      }
}

