.footer {
}
.footer .container__main {
    padding: 105px 0;
    background-color: #1D1D1D;
    border-radius: 36px 36px 0 0;
}
.container {
}
.footer__inner {
}
.footer__content {
    
    display: flex;
}
.footer__contact {
}
.footer__logo {
    margin-bottom: 60px;
}
.footer__number {
    margin-bottom: 40px;
    display: flex;
}
.footer__number-items {
    margin-right: 30px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.4);
    p{
        color: rgba(255, 255, 255, 1);
        
        font-size: 18px;
    }
}
.footer__number-button {
   button{
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0);
   }
}
.footer__contact-local {
    margin-bottom: 8px;
    line-height: 30px;
    text-align: end;
}
.footer__socials-items {
    align-items: center;
    margin-top: 38px;
    display: flex;
    justify-content: end;
    
}
.footer__socials-item {
    margin-left: 14px;
    text-align: end;
}
.footer__nav {
    
    margin-left: 128px;
}
.footer__nav-items {
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
}
.nav__client {
    margin-bottom: 45px;
   
}
.nav__client-title {
    margin-bottom: 20px;
}
.nav__client-item {
    
    a{
        color: rgba(255, 255, 255, 0.4);
        transition: all 0.4s ease;
        &:hover{
            color: rgba(255, 255, 255, 1);
        }
    }
    margin-right: 100px;
    line-height: 34px;
    &:last-child{
        margin-right: 0;
    }
}
.nav__park {
}
.nav_client-title {
    margin-bottom: 20px;
}
.nav__wedding {
}
.strech__konf {

    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}
.strech__konf-item {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.4);

}


@media (max-width: 500px){
    .footer__number{
        display: flex;
        flex-direction: column  ;

    }

    .footer__number-button{
        margin-top: 30px;
        width: 100%;

        button{
            width: 100%;
        }
    }

    .footer__number-items{
        margin-right: 0;
        text-align: center;
    }

    .footer__content {
        flex-direction: column;
        display: flex;
    }

    .footer__contact-local{
        text-align: center;
    }

    .footer__nav,
    .footer__socials-items{
        display: none;
    }

    .footer__logo{
        margin-right: auto;
        margin-left: 45px;
    }


    .footer .container__main {
        padding: 70px 0;
        background-color: #1D1D1D;
        border-radius: 36px 36px 0 0;
    }
}