.hire__main {
}
.hire__main .container__main {
    padding: 120px 270px;
    background: url("/img/bg/bg-angar.jpeg") 100% 100% no-repeat;
    background-size: cover;
    border-radius: 36px 36px 0 0 ;
}
.container {
}
.hire__inner {
}
.hire__dubai {
    display: flex;
    justify-content: space-between;
}
.hire__dubai-heading {
    max-width: 648px;
}
.hire__dubai-title {
    font-size: 48px;
    line-height: 62px;
}
.hire__dubai-subtitle {
    font-size: 24px;
    line-height: 36px;
    margin-top: 50px;
    margin-bottom: 36px;
}
.hire__dubai-subtext {
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.4);
}
.hair__dubai-img {
    max-width: 560px;
    border-radius: 20px;

    img{
        width: 100%;
        border-radius: 20px; 
    }
}
.hire__moscow {
    
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
}

.hair__moscow-content{
   
    max-width: 760px;
}

.hair__moscow-img {
    max-width: 560px;
    border-radius: 20px;

    img{
        width: 100%;
        border-radius: 20px; 
    }
}
.hire__moscow-heading {
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16) ;
   
}
.hire__moscow-title {
    font-size: 48px;
    line-height: 62px;
    max-width: 476px;
}
.hire__moscow-subtitle {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 17px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.4);
    span{
        color: rgba(255, 255, 255, 1);
    }
    p{
        margin-bottom: 40px;
    }
}
.hair__reasons {
    display: flex;
}
.hair__reason {
    align-items: center;
    display: flex;
}
.hair__reason-img {
    margin-right: 18px;
    
}
.hair__reason-text {
    font-size: 12px;

}


@media (max-width: 500px){
    .hire__main .container__main {
        padding: 40px 20px;
        background: url("/img/bg/bg-angar.jpeg") 50% 100% no-repeat;
        background-size: cover;
        border-radius: 0 ;
    }

    .hire__dubai{
        display: flex;
        flex-direction: column;
    }

    .hire__moscow{
        display: flex;
        flex-direction: column;
    }

    .hair__moscow-img{
        margin-bottom: 30px;
    }

    .hair__reasons{
        display: flex;
        flex-direction: column;
    }

    .hair__reason {
        align-items: center;
        display: flex;
        margin-bottom: 40px;
    }

    .hair__reason-text {
        font-size: 15px;
    
    }

    .hire__dubai-subtext{
        margin-bottom: 30px;
    }
}