.header__top {
    width: 100%;
    z-index: 5;
    position: fixed;
    background-color: #181818;
}

.header__nav-burger{
    margin: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  39px 0;
}

.header__nav{
    margin: 0px 25px;
}

.header__nav-list{
    margin: 0px 35px; 
}

.header__top-inner {
    align-items: center;
    justify-content: space-between;
    display: flex;
    
}
.header__logo {
}
.logo {
}
.header__city-change {
    justify-content: center;
    align-items: center;
    line-height: 22px;
    border-radius: 6px;
    font-size: 11px;
    color: #fff;
    background-color: #0c0c0c;
    max-width: 172px;
    
    display: flex;
}
.city__change-moskow {
    
    display: flex;
    border-right: 1px solid #181818 ;
    a{

        svg{
            margin-right: 7px;
            fill: #9f7437;
        }
        align-items: center;
        display: flex;
        color: #A6A6A6;
    }
    width: 50%;
    padding: 8px 13px;

    &:hover{
       a{
        transition: all 0.5s;
        color: #fff;
       }
    }

    &:focus{
        a{
        color: #fff;
        }
    }

}
.city__change-dubai {
    a{

        svg{
            margin-right: 7px;
        }
        align-items: center;
        display: flex;
        color: #A6A6A6;
    }

    &:hover{
        a{
         transition: all 0.5s;
         color: #fff;
        }
     }
    width: 50%;
    padding: 8px 13px;
}
.header__nav {
    
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 50px;
    &:last-child{
        margin-right: 0;
    }
    
}
.header__nav-link {
    font-size: 15px;
    color: #fff;
   
    
}
.header__socials-nav {
}
.header__socials-item {
   
    align-items: center;
    display: flex;
}
.header__socials_link {
    margin-right: 14px; 
    opacity: 0.3;

    &:hover{
        transition: all 0.5s;
        opacity: 1;
    }
}
.header__phone-numbers {
    font-size: 18px;
    font-weight: 700;
}
.header__nav-button {
    margin-left: 25px;
    border: 2px solid  rgba(255, 255, 255, 0.3);
    border-radius: 6px;

    &:hover{
        transition: all 0.4s;
        border: 2px solid  rgba(255, 255, 255, 1);
        border-radius: 4px;
    }

    button{
        border-radius: 8px;
        padding: 12px 20px 12px 20px;
        font-size: 13px;
        color: #fff;
        background-color: #181818
    }
}
.header__button-profile {
    display: flex;
}
.header__profile-item {
    display: flex;
    align-items: center;
    margin-right: 12px;
    
    button{
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: rgb(10, 10, 10);
    }

    &:last-child{
        margin-right: 0;
    }
}

@media (max-width: 1760px){
    .header__nav{
        margin: 0px 15px;
    }
    
    .header__nav-list{
        margin: 0px 15px; 
    }
}

@media (max-width: 1560px) {
    // .overlay{
    //     transition: all 0.4s;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     z-index: 50;
    //     background: rgba(0, 0, 0, 0.349);
    //     visibility: hidden;
    //     opacity: 0;
    // }

    // .overlay---show{
    //     opacity: 1;
    //     visibility: visible;
    // }

    .burger{
        z-index: 150;
        position: fixed;
        top: 30px;
        right: 15px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
       
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: all 0.4s ;
        span{
            transition: all 0.4s;
            width: 35px;
            height: 3px;    
            background-color: #fff;
            display: block;
            border-radius: 3px;
            margin: 7px 0;
        }

        &::before{
            transition: all 0.4s;
            content: '' ;
            width: 35px;
            height: 3px;    
            background-color: #fff;
            display: block;
            border-radius: 3px;
        }

        &::after{
            content: '' ;
            width: 35px;
            height: 3px;    
            background-color: #fff;
            display: block;
            border-radius: 3px;

        }
    }

    .header__logo{
        margin-left: 20px;
    }

    .header__button-profile{
        margin-right: 100px;
    }

    .burger--active{
        width: 45px;
        height: 45px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        transition: all 0.4s;
        box-shadow: none;

        span{
            transition: all 0.4s;
            height: 4px;
            transform: rotate(45deg);
            margin: -3px 0;
        }

        &::before{
            transition: all 0.4s;
            transform: rotate(-45deg);
        }

        &::after{
            display: none;

        }
    }

    .header__nav-burger{
        display: flex;
        flex-direction: column;
        transform: translateX(110%);
        min-width: 320px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #181818;
        z-index: 100;  
        transition: all 0.4s;
        padding:  150px 0;

        .header__nav{
           
        }
        
        .header__nav-list{
            margin-top: 40px;
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        .header__nav-link{
            margin-bottom: 60px;
            text-align: center;
            display: flex;
        }
    }

    .header__nav-burger--open{ 
        transform: translateX(10%);
    }
    
    .header__top-inner{
        padding:  39px 0;   
    }

    .header__socials-item{
        display: none;
    }
}


@media (max-width: 500px) {
    .header__nav-burger{
        min-width: 400px
    }

    .header__top-inner{
        padding:  24px 0;   
    }

    .burger{
        top: 15px;
        right: 17px;
    }

    .header__button-profile{
        margin-right: 80px;
    }
}