.servises__main {
    margin-bottom: 120px;
}

.servises__inner {
}
.servises__heading {
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 62px;
    color: #000;
}
.servises__items {
    justify-content: space-between;
    display: flex;
}
.servises__item {
    max-width: 424px;

}
.servises__img-box {
    border-radius: 20px;
    img{
      border-radius: 20px;      
    }
}
.servises__img {
}
.servises__item-content {
    
    margin-top: 42px;
    display: flex;
}
.servises__content-title {
    max-width: 262px;
    color: #000;
    line-height: 28px;
}
.servises__content-button {
    margin-left: 48px;
    padding: 18px 16px;
    max-height: 52px;
    max-width: 52px;
    background-color:rgba(0, 0, 0,0);
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.06);

    &:hover{
        background-color:  rgba(255, 255, 255, 0.3);
    }
}


@media (max-width: 500px){
    .servises__items {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .servises__item {
        max-width: 424px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}