html, body{
    
    font-size: 14px;
    font-family: Unbounded, sans-serif;
    color: #fff;
    font-weight: 500;
}


.wrapper{
    background-color: #dfdfdf;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container__main{
    margin: 0 15px;
    max-width: 1890px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}
